header{
  #hero{
  position: relative;
  height:400px;
   @include breakpoint(max-width $small){
    height:200px;
  }//breakpoint
  background: $red;
    h1{
    position: absolute;
    color:$light;
    bottom:10px;
    left:50px;
    font-size: 4rem;
    @include text-shadow;
    }
  }//heroEvents
  
  #hero.aboutServices, #hero.aboutContact{
  background: $green;
  }
  #hero.aboutCalendar{
  background: $orange;
  }
  #hero.aboutGive{
  background: $blue;
  }
  
  
}//header



#content{
  @include container(100%);
  min-height: 600px;
  #indexLeft{
  @include breakpoint(max-width $small){
    display: none;
  }//breakpoint
  @include span(3 of 12);
  background-color: $lightgrey;
  font-size: 1.4rem;
  padding:10px;
  padding-top: 70px;
  padding-left:50px;
  height:100%;
  }
  a{
  text-decoration: none;
  color: $blue;
  font-weight: $normal;
  }
  ul{
    li{
    margin-bottom: 15px;
      &.activeIndex{
    border-bottom: 3px solid $darkgrey;
   }
     } 
  }//ul

}


#content{
  @include container(100%);
  min-height: 600px;
  #indexLeft.aboutPage, #indexLeft.volunteerPage{    
  a{
  color: $red;
  }
  }
  #indexLeft.servicesPage, #indexLeft.contactPage{    
  a{
  color: $green;
  }
  }
  #indexLeft.calendarPage{    
  a{
  color: $orange;
  }
  }
  #indexLeft.givePage{    
  a{
  color: $blue;
  }
  }
 #indexLeft.servicesPage{
   li{
   padding-left: 20px;
   }
 }
}//content

h5{
      color:$darkgrey;
      font-size:1.2rem;
      font-weight: 500;
      margin-top: 30px;
      text-transform: uppercase;
      }

.aboutPage, .volunteerPage{
  h5{
 color: $red;
  }
}

.servicesPage{
  h5{
    &.serviceHead{
 color: $green;
    }
  }
}

.calendarPage{
  h5{
 color: $orange;
  }
}
.contactPage{
  h5{
 color: $green;
  }
}
.givePage{
  h5{
 color: $blue;
  }
}
#contentRight{
  
  @include span(9 of 12);
  @include breakpoint(max-width $small){
    @include span(12);
    padding-top: 25px;
  }//breakpoint
  padding-top: 50px;
  padding-right: 40px;
  h2{
  font-size:5rem;
  font-weight: $thin;
  }//h2
  h4{
  text-transform: uppercase;
  font-weight: $mid;
  color:$blue;
  margin-top:20px;
  font-size:1.2rem;
  }
  .cmsContent{
  @include container(80%);
    p{
  font-weight: $normal;
  }//p
  }//cmsContent
  
}

#contentRight.about, #contentRight.volunteer{
  #{headings()} {
 color: $red;
} 
 pre, a {
 color: $red !important;
} 
}

#contentRight.services, #contentRight.contact{
  #{headings()} {
 color: $green;
} 
 pre, a {
 color: $green !important;
} 
}

#contentRight.calendar{
  #{headings()} {
 color: $orange;
} 
 pre, a {
 color: $orange !important;
} 
  h2{
  font-size:2rem;
  font-weight: 500;
  }
}

#contentRight.give{
  #{headings()} {
 color: $blue;
} 
 pre, a {
 color: $blue !important;
} 
}

#contentRight.blog{
  #{headings()} {
 color: $red;
} 
  a{
  font-weight: 500;
  }
  h2{
  font-size:3.2rem;
  }
  p{
  color:$darkgrey;
  }
  span{
  font-weight: 500;
  }
  .blogCont{
  font-size:1.2rem;
  font-weight: 400;
  color:$darkgrey;
  }
 pre, a {
 color: $red !important;
} 
  .blogBlock{
  margin-top: 40px;
  }
}

.about.active, .volunteer.active{
border-bottom: 3px solid $red;
}

.services.active, .contact.active{
border-bottom: 3px solid $green;
}

.events.active{
border-bottom: 3px solid $orange;
}

.give.active{
border-bottom: 3px solid $blue;
}



.blogHead{
@include container();
  .blogInfo{
  @include span(8 of 12);
  }
  .blogImage{
   @include span(last 4);
    img{
    @include border-radius(50%);
    max-width:150px;
    }
  }

}

.divider{
display: block;
@include clearfix;
}

#disqus_thread{
margin-top: 50px;
}

.fc-header-left, .fc-header-center, .fc-header-right{
border: 0px !important;
}

.fc-button {
position: relative;
display: inline-block;
padding: 0 .6em;
overflow: hidden;
height: 1.9em;
line-height: 1.9em;
white-space: nowrap;
cursor: pointer;
}

.fc .fc-header-space {
padding-left: 10px;
}

.fc-state-default.fc-corner-left {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.fc-text-arrow {
margin: 0 .1em;
font-size: 2em;
font-family: $fontfamily;
vertical-align: baseline;
}

.fc-grid .fc-other-month .fc-day-number {
color: black;
background: rgba(255,255,255,.0);
}
.fc-grid .fc-day-number {
float: right;
padding: 0 9px;
}
.fc-day-number{
width: 100%;
background: $orange;
color:white;
}
.fc-grid .fc-day-content {
clear: both;
padding: 2px 2px 1px;
}
.fc td, .fc th{
border: 3px solid white;
}

#calendar > div > div > table > tbody > tr.fc-week.fc-first > td.fc-day.fc-widget-content.fc-other-month{
background: lighten($darkgrey, 35);
}

#calendar > div > div > table > tbody > tr.fc-week.fc-last > td.fc-day.fc-widget-content.fc-other-month{
background: lighten($darkgrey, 35);
}

.fc-today.fc-state-highlight{
background: white;
}

th.fc-day-header.fc-widget-header{
background: $darkgrey;
color:white;
}
.fc-day{
background: $lightgrey;
}

#contentRight.calendar pre, #contentRight.calendar a {
color: black !important;
}

.fc-event{
background-color: rgba(255,255,255,.0);
font-size:.9rem;
border:0px;
  &:hover{
  background-color: rgba(255,255,255,1);
  @include box-shadow;
  }
}

.fc-event-inner{
font-size:.9rem;
}