header{
  #hero{
  position: relative;
  height:400px;
   @include breakpoint(max-width $small){
    height:200px;
  }//breakpoint
  background: $blue;
    h1{
    position: absolute;
    color:$light;
    bottom:10px;
    left:50px;
    font-size: 4rem;
    @include text-shadow;
    }
  }//heroEvents
}//header

#content{
  @include container(100%);
  min-height: 600px;
  #indexLeft{
  @include breakpoint(max-width $small){
    display: none;
  }//breakpoint
  @include span(3 of 12);
  background-color: $lightgrey;
  font-size: 1.4rem;
  padding:10px;
  padding-top: 70px;
  padding-left:50px;
  height:100%;
  }
  a{
  text-decoration: none;
  color: $blue;
  font-weight: $normal;
  }
  ul{
    li{
    margin-bottom: 15px;
      &.activeIndex{
    border-bottom: 3px solid $darkgrey;
   }
     } 
  }//ul

}

#contentRight{
  
  @include span(9 of 12);
  @include breakpoint(max-width $small){
    @include span(12);
    padding-top: 25px;
  }//breakpoint
  padding-top: 50px;
  padding-right: 40px;
  h2{
  font-size:5rem;
  font-weight: $thin;
  }//h2
  h4{
  text-transform: uppercase;
  font-weight: $mid;
  color:$blue;
  margin-top:20px;
  font-size:1.2rem;
  }
  .cmsContent{
  @include container(80%);
    p{
  font-weight: $normal;
  }//p
  }//cmsContent
  
}
