footer {
  @include container(100%);
  background: lighten($dark, 20);
  margin-top: 300px;
  padding: 30px 0;
  #socialmedia {
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        a {
          color:white;
          width: 30px;
          @include border-radius(50%);
        } // img
      } //li
    } //ul
  } //social
}//footer