#homeInfo{
margin-top: 70px;
@include breakpoint(max-width $small) {
  margin-top: 190px;
  
  }//breakpoint
@include container();
  h1{
  font-size: 4rem;
  font-weight: $normal;
  color:black;
  text-align: center;
  padding: 30px 0px 0px 0px;
  @include breakpoint(max-width $small) {
  font-size: 2rem;
  
  }//breakpoint
  }//h1
  .underline{
@include container(30%);
border-bottom:3px solid $blue;
margin-bottom: 30px;
}
    .visitUs{
   @include container(80%);
    
        .office{
        text-align: center;
        @include span(first 4);
          p{
          font-weight:$normal;
          }
           @include breakpoint(max-width $small) {
            @include span(12 of 12);
            }//breakpoint
        }
        .service{
        text-align: center;
        @include span(4 of 12);
          p{
          font-weight:$normal;
          }
          @include breakpoint(max-width $small) {
            @include span(12 of 12);
            }//breakpoint
        }

   .ourLocation{
     text-align: center;
    @include span(4 of 12);
     p{
          font-weight:$normal;
        }
    
      @include breakpoint(max-width $small) {
            @include span(12 of 12);
            }//breakpoint
   }
  
    }//visitUs


  
.partners{
@include container(80%);
margin-bottom: 70px;
  img{
  display: inline;
    @include gallery(1 of 3);
    @include breakpoint($small) {
    @include gallery(1 of 5);
    }
  }

}
  
  
.happening{
@include container(100%);
margin: 70px 0px;
  @include breakpoint(max-width $small) {
    margin-bottom:30px;
  }//breakpoint
background: $blue;
   h1{
  color:black;
  }
  .happeningWrapper{
    @include container(90%);
     padding-bottom: 40px;
  .underline{
  border-bottom:3px solid white;
  }
  .happeningImage{
    color:white;
    @include border-radius();
  @include span(first 7);
    @include breakpoint(max-width $small) {
    @include span(12);
    height:200px;
  }//breakpoint
  @include backImage('../images/walk.png', to top, 0, 0, center center);
  height:300px;
  }
  .happeningInfo{
    
  @include span(last 5);
  @include breakpoint(max-width $small) {
    @include span(12);
    margin-top: 20px;
  }//breakpoint
    h2{
      padding-left:4%;
    color:white;
    font-size:2.5rem;
    font-weight: $normal;
    text-transform: uppercase;
    }
    h4, p{
      padding-left:4%;
    color:white;
    font-weight: $normal;
    }
  }//happeningInfo
    .findOutMore{
      cursor: pointer;
      margin-left:4%;
      font-size: 1.4rem;
    background:white;
    padding:5%;
      @include border-radius();
      width:40%;
      a{
      text-decoration: none;
      color:$blue;
      font-weight:$normal;
      }
    }

} 
}
  
  
}//homeInfo



