
    
  .fullheight {
    position: relative;
    height:450px;
    margin-top: 80px;
   @include backImage('../images/mom_son.jpg', to top, 0, 0, top right);
    @include breakpoint($narrow $small) {
        @include backImage('../images/mom_son.jpg', to top, 0, 0, 70% 30%);
      height:300px;
       }//breakpoint
  
    .mainLogo{
    @include container(20%);
    padding-top: 50px;
    }
    
    .hgroup {
      @include container(100%);
      @include span(7 at 2 of 12 isolate);
      padding: 20px 0px 20px 0px;
      text-align: left;
      position: absolute;
      top:20px;
      
      @include breakpoint($narrow $small) {
         @include span(10 at 2 of 12 isolate);  
        display: none;
       }
      h3{
        span{
        line-height: 97%;
        font-weight: $heavy;
        font-size:4rem;
        background-color: rgba(255, 255, 255, 0);
        color:white;
        @include single-text-shadow(0px, 0px, 2px, false, black);
        margin-left: -20px;
        }
        
        color:black;
        text-transform: uppercase;
        line-height: 140%;
        padding-left:15px;
        display: inline;
        font-weight: $normal;
        font-size:1.3rem;
         @include breakpoint($narrow $small) {
         font-size:1.5rem;
       }
      }
    } //hgroup
    section{
      
      a{
      color: white;
      }
      z-index: 999;
       position: absolute;
        bottom:-50px;
      @include full;
      @include span(6 of 12 nest);
      @include push(3);
       @include breakpoint($small $medium) {
         @include span(8 of 12);
      @include push(2);
       bottom:-170px;
       }
      @include breakpoint($narrow $small) {
         @include span(12 of 12);
       bottom:-170px;
       }
      .serviceBox, .volunteerBox, .partnerBox, .eventBox{
        &:hover{
        background-color: white;
          color:$blue;
        }
       @include display-flex();
    @include align-items(center);
    @include justify-content(center);
       @include span(4 of 12);
        background-color: white;
        @include breakpoint($narrow $small) {
          background-color: $blue;
         @include span(12 of 12);
          margin-bottom: 10px;
          height:50px;
       }//breakpoint narrow
        a{
        text-decoration: none;
        }
//        .bottom{
//        background-color: $blue;
//        color:white;
//        height:40px;
//        margin-top: 0px;
//        @include breakpoint($narrow $small) {
//          margin-top: 20px;
//          @include border-radius(0px);
//        }//breakpoint
//        @include border-radius;
//        @include border-bottom-radius(0px);
//          p{
//          padding-top: 5px;
//          }
//        }
      cursor: pointer;
      position: relative;
        height:140px;
       
        background-color: $blue;
         @include box-shadow;
        @include border-radius;
        p{
        @include container;
        font-size: 1.5rem; 
        display: block;  
        
        @include breakpoint($narrow $small) {
         padding-top: 25px;
          
       }//breakpoint narrow
        bottom:0px;
        text-transform: uppercase;
        text-align: center;
          font-weight: $normal;
        }
      }//serviceBox
      .serviceBox{
//        @include backImage('');
        @include span(first 4 of 12); 
        background-color: $blue;
        @include breakpoint($narrow $small) {
          @include backImage('');
          background-color: $blue;
         @include span(12 of 12);
       }
      }//volunteerBox
        .partnerBox{
          @include backImage('');
          background-color: $blue;
       @include breakpoint($narrow $small) {
            @include backImage('');
         background-color: $blue;
       }
       
      }//partnerBox
//      .eventBox{
////           @include backImage('');
//        background-color: white;
//           @include span(last 4 of 12);
//          @include breakpoint($narrow $small) {
////            @include backImage('');
//         @include span(12 of 12);
//       }
//      }//partnerBox
       
    }
  } //fullheight


