

#nav {
  @include layout($nav);
  @include container(100%);
  @include span(12 of 12);
  z-index: 1000;
  background-color: rgba(255,255,255,1);
  position: fixed;
  border-bottom: 1px solid black;
  max-height: 100px;
  .navbar {
    @include container(85%);
    margin-bottom: 0px;
    
     @include breakpoint(max-width $medium) {
            @include container(95%);
          } //breakpoint
   img{
    @include span(first 2);
      height: 80px;
     margin:10px 0px;
      @include breakpoint(max-width $medium) {
            @include span(first 4);
          } //breakpoint
    }
    ul {
      @include span(8.5);
      height: 100%;
      padding-top:52px;
      padding-left: 30px;
      padding-bottom: 10px;
      @include breakpoint(max-width $medium) {
            @include span(last 2);
            padding-top:15px;
          }
      i{
        font-size:3.5rem;
      float:right;
      margin-top: 10px;
      margin-right: 5%;
      @include breakpoint(min-width $medium) {
            display:none;
          } //breakpoint
      }//i
      li {
//        float: left;
        display: inline-block;
        font-size: 1.1rem;
        @include breakpoint(max-width $medium) {
            display:none;
          } //breakpoint
        
        a {
          color: black;
          font: $mainFont;
          font-size: 1em;
          display: inline-block;
          padding: 10px 3px 0px 10px;
          text-decoration: none;
          font-weight: $normal;
          margin-right: 10px;
          background-size: 35px;
          background-repeat: no-repeat;
          background-position: 2px;

//          &:hover {
//            border-bottom: 4px solid $blue;
//          } //hover

        

          @include breakpoint($small $medium) {
            padding-left: 10px;
          } //breakpoint

//          &.active {
//            border-bottom: 4px solid $blue;
//          }
        } //a
      } //li
    } //ul
  } //navbar
  .signUp{
  @include breakpoint(max-width $medium) {
            display: none;
          } //breakpoint
  @include span(last 2.5);
  background-color: $yellow;
  height:98px;
  margin-right:-10%;
  color:white;
  padding: 5px;
  padding-top: 25px;
  padding-right: 15px;
  text-align: center;
  cursor: pointer;
  @include box-shadow;
    font-size: 1.25rem;
    p{
  font-weight: $normal;
    }
    .signUpTitle{
    text-transform: uppercase;
    }
    &:hover{
//    border:2px solid $red;
//    background: white;
//    color: $red;
    @include box-shadow;
    }
  }
 }//#nav


