

#nav {
  @include layout($nav);
  @include container(100%);
  @include span(12 of 12);
  z-index: 1000;
  background-color: rgba(255,255,255,1);
  position: absolute;
  border-bottom: 1px solid black;
  max-height: 80px;
  .navbar {
    @include container(85%);
    margin-bottom: 0px;
     @include breakpoint(max-width $medium) {
            @include container(95%);
          } //breakpoint
   img{
      height: 80px;
    }
    ul {
      @include span(last 9);
      height: 100%;
      padding-top:25px;
      padding-bottom: 1rem;
      @include breakpoint(max-width $medium) {
            @include span(last 2);
            padding-top:15px;
          }
      i{
        font-size:4rem;
      float:right;
      @include breakpoint(min-width $medium) {
            display:none;
          } //breakpoint
      }//i
      li {
        float: right;
        display: inline-block;
        font-size: 1.1rem;
        @include breakpoint(max-width $medium) {
            display:none;
          } //breakpoint
        
        a {
          color: black;
          font: $mainFont;
          font-size: 1em;
          display: inline-block;
          padding: 10px 10px 5px 25px;
          text-decoration: none;
          font-weight: $normal;
          //icon styles
          background-size: 35px;
          background-repeat: no-repeat;
          background-position: 2px;

          &:hover {
            border-bottom: 4px solid $blue;
          } //hover

        

          @include breakpoint($small $medium) {
            padding-left: 10px;
          } //breakpoint

          &.active {
            background-color: $red;
            color: $light;
          }
        } //a
      } //li
    } //ul
  } //navbar
 }//#nav


