 <header>
   
    <div id="hero" class="aboutHero">
    <h1>About Us</h1>
    </div><!-- hero -->
</header>

<section class="content">
<div id="indexLeft">
 
  <ul>
      <a href="/about/"><li>About Overview</li></a>
      <li ng-repeat="abo in about"><a href="/about/{{abo.shortname}}">{{abo.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="about">
 <article class="cmsContent">
 
<div ng-repeat="over in overview | filter: {page:'about'}">
 <div ng-bind-html="'{{over.contents}}' | to_trusted "></div>
 </div>
 

</article>
  

  
</div>






</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





