 <header>
   
    <div id="hero" class="aboutHero">
    <h1>About Us</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="aboutPage">
  <ul>
   <a href="/about/"><h5>About Overview</h5></a>
      <li ng-repeat="abo in about"><a href="/about/{{abo.shortname}}">{{abo.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="about">

 <article class="cmsContent">
   <a href="/about"><i class="fa fa-chevron-left"></i>&nbsp;back</a>
    <div class="services" ng-repeat="abo in about | filter:json">
        <article class="service group">
       <a href="/about/{{abo.shortname }}"><h2><pre>{{abo.title }}</pre> </h2></a> 
       <div ng-bind-html= "abo.contents | strip | to_trusted"></div>
       </article>
       
    </div>
</article>
  

  
</div>
</section>

</div><!--Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="vol in volunteer">
      <a href="/volunteer/{{vol.name}}"><li>{{vol.name}}</li></a>
  </ul>





