<div ng-include src="'templates/adminnav.html'"></div>

<div id="adminCont">
  <div ng-init="tab=1">

<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a>New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a href="admin/edit">Edit</a></div></li>  
</ul>
</div>


<div id="adminCMS" class="serviceCMS">
 <div ng-show="tab == 1">

<form name="adminForm" ng-submit="adminForm.$valid && createService()" novalidate>
  <input type="text" placeholder="Service title" ng-model="serviceTitle" required>
  <input type="text" placeholder="Service /url" ng-model="serviceShortname" required>
  
  <div class="wysiwg" text-angular ng-model="serviceDescription" required></div>
  <select ng-model="serviceCategory" required>
    <option selected>Transportation</option>
    <option>Growth</option>
    <option>Spiritual</option>
    <option>Financial</option>
    <option>Job</option>
    <option>Education</option>
    <option>Kids</option>
    <option>Food</option>
    <option>Clothing </option>
    <option>Health</option>
  </select>

  <br>
  <button class="addAdmin" type="submit">Add</button>
</form>
</div>

<div ng-show="tab == 2">
<div class="editList">
    <div class="editWrapper" ng-repeat="abo in about">
     <div class="editTitle"><a href="/admin/{{abo.shortname}}">{{abo.title}}</a></div>
     
     <a href="/adminabout/{{abo.shortname}}" ><div class="editEdit">Edit</div></a>
     <a ng-click="removeAbout(abo._id)" ><div class="editDelete"> Remove</div></a>
      </div>

</div>
</div><!--ServiceForm(Left Col)-->
</div>



<div id="dynamicModel" class="serviceCMS">
<h1>PREVIEW</h1>
<p>healingcenter.com/services/{{serviceShortname}}</p>
<h4>{{serviceTitle}}</h4>
<p>{{serviceDescription}}</p>
<h2>{{serviceCategory}}</h2>
</div><!--Dynamic-->
</div><!--ServiceData-->
</div><!--Layout-->


<!--
<a class="edit" ng-click="editItem(service._id)" >Edit</a>
<a class="delete" ng-click="removeItem(service._id)" >Remove</a>-->
<!--
<div class="serviceForm">
 
 <div ng-show="tab == 1">

<form name="adminForm" ng-submit="adminForm.$valid && createService()" novalidate>
  <input type="text" placeholder="Service title" ng-model="serviceTitle" required>
  <input type="text" placeholder="Service /url" ng-model="serviceShortname" required>
  <input type="text" placeholder="Service summary" ng-model="serviceSummary" required>
  <textarea type="text" placeholder="Service description" ng-model="serviceDescription" required></textarea>
  <select ng-model="serviceCategory" required>
    <option>Transportation</option>
    <option>Growth</option>
    <option>Spiritual</option>
    <option>Financial</option>
    <option>Job</option>
    <option>Education</option>
    <option>Kids</option>
    <option>Food</option>
    <option>Clothing </option>
    <option>Health</option>
  </select>
  <br>
  <button class="addAdmin" type="submit" ng-click="tab = 2">Add</button>
</form>
</div>




<div ng-show="tab == 2">
<div class="serviceList">
  <ul class="admin-list" ng-repeat="service in services">
     <li> <a href="/admin/{{service.shortname}}">{{service.title}}<a></li>
     
     <li> <a class="edit" href="/admin/{{service.shortname}}" ng-click="editItem(service._id)" >Edit</a></li>
      <li><a class="delete" ng-click="removeItem(service._id)" >Remove</a></li>
      
  </ul>
</div>
</div><!--ServiceForm(Left Col)
</div>
-->