<div ng-include src="'templates/adminnav.html'"></div>


<div id="adminCont">
  <div ng-init="tab=2">
 
<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a href="/adminvolunteer">New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a>Edit</a></div></li>  
</ul>
</div> 
 

<div id="adminCMS" class="serviceCMSDetail">
 <div ng-show="tab == 1">

<form name="adminForm" ng-submit="adminForm.$valid && createVolunteer()" novalidate>
  <input type="text" placeholder="Volunteer title" ng-model="volunteerTitle" required>
  <input type="text" placeholder="Volunteer /url" ng-model="volunteerShortname" required>
  
  <div class="wysiwg" text-angular ng-model="volunteerContents" required></div>

  <br>
  <button class="addAdmin" type="submit">Add</button>
</form>
</div>

<div ng-show="tab == 2">
<div class="editList">
    <div class="editWrapper" ng-repeat="vol in volunteer">
     <div class="editTitle"><a href="">{{vol.title}}</a></div>
     
     <a href="/adminvolunteer/{{vol.shortname}}" ><div class="editEdit">Edit</div></a>
     <a ng-click="removeAbout(vol._id)" ><div class="editDelete"> Remove</div></a>
      </div>

</div>
</div><!--ServiceForm(Left Col)-->
</div>

<h2>&nbsp;</h2>

  <div class="editable" ng-repeat="vol in volunteer | filter:json">
  <div class="editingTitle"> <a href="#" editable-text="vol.title" ng-model="abo.title"><h4>{{ vol.title || 'empty' }}</h4></a></div>
  

  <div class="editingText" text-angular ng-model="vol.contents"></div>
  <div><input type="hidden" ng-model="vol.shortname"></div>
  <div class="editApply">
  <div class="clickApply"><a ng-click="editAbout(vol._id, vol.shortname, vol.title, vol.contents)" >Apply Revisions</a></div>
  </div>
</div><!--Editable-->
</div>
</div><!--ServiceData-->















