<div ng-include src="'templates/adminnav.html'"></div>

<div id="adminCont">
  <div ng-init="tab=1">

<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a>New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a>Edit</a></div></li>  
</ul>
</div>
<div id="adminCMS" class="serviceCMS">
 <div ng-show="tab == 1">

<form name="adminForm" ng-submit="adminForm.$valid && createAbout()" novalidate>
  <input type="text" placeholder="About title" ng-model="aboutTitle" required>
  <input type="text" placeholder="About /url" ng-model="aboutShortname" required>
  
  <div class="wysiwg" text-angular ng-model="aboutContents" required></div>

  <br>
  <button class="addAdmin" type="submit">Add</button>
</form>
</div>

<div ng-show="tab == 2">
<div class="serviceList">
  <ul class="admin-list" ng-repeat="abo in about">
     <li> <a href="/admin/{{abo.shortname}}">{{abo.title}}<a></li>
     
     <li> <a class="edit" href="/adminabout/{{abo.shortname}}" >Edit</a></li>
      <li><a class="delete" ng-click="removeAbout(abo._id)" >Remove</a></li>
      
  </ul>
</div>
</div><!--ServiceForm(Left Col)-->
</div>

<div id="dynamicModel" class="serviceCMS">
<h1>PREVIEW</h1>
<p>healingcenter.com/about/{{aboutShortname}}</p>
<h2>{{aboutTitle}}</h2>
<p>{{aboutContents}}</p>
</div><!--Dynamic-->
</div><!--ServiceData-->
</div><!--adminCont-->
