<div ng-include src="'templates/adminnav.html'"></div>

<div id="adminCont">
  <div ng-init="tab=1">

<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a>New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a href="adminblog/edit">Edit</a></div></li>  
</ul>
</div>

<div id="adminCMS" class="serviceCMS">
 <div ng-show="tab == 1">
<form name="adminForm" ng-submit="adminForm.$valid && createBlog()" novalidate>
  <input type="text" placeholder="Blog Author" ng-model="blogAuthor" required>
  <input type="text" placeholder="Blog Date" ng-model="blogDate" required>
  <input type="text" placeholder="Blog title" ng-model="blogTitle" required>
  <input type="text" placeholder="Blog /url" ng-model="blogShortname" required>
  <div class="wysiwg" text-angular ng-model="blogContents" required></div>
  <input type="text" placeholder="Blog image *not-required" ng-model="blogImage">
  <input type="text" placeholder="Blog category" ng-model="blogCategory" required>

  <br>
  <button class="addAdmin" type="submit">Add</button>
</form>

</div>


</div>


<div id="dynamicModel" class="serviceCMS">
<h1>PREVIEW</h1>
<p>healingcenter.com/volunteer/{{volunteerShortname}}</p>
<h2>{{volunteerTitle}}</h2>
<p>{{volunteerContents}}</p>
</div><!--Dynamic-->
</div><!--ServiceData-->



<!--
<a class="edit" ng-click="editItem(service._id)" >Edit</a>
<a class="delete" ng-click="removeItem(service._id)" >Remove</a>-->
