<div ng-include src="'templates/adminnav.html'"></div>


<div id="adminCont">
  <div ng-init="tab=2">
 
<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a href="/adminpartner">New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a>Edit</a></div></li>  
</ul>
</div> 
 

<div id="adminCMS" class="serviceCMSDetail">
 <div ng-show="tab == 1">

<form name="adminForm" ng-submit="adminForm.$valid && createGive()" novalidate>
  <input type="text" placeholder="Give title" ng-model="giveTitle" required>
  <input type="text" placeholder="Give /url" ng-model="giveShortname" required>
  
  <div class="wysiwg" text-angular ng-model="giveContents" required></div>

  <br>
  <button class="addAdmin" type="submit">Add</button>
</form>
</div>

<div ng-show="tab == 2">
<div class="editList">
    <div class="editWrapper" ng-repeat="giv in give | filter:{category: 'Partner'}">
     <div class="editTitle"><a href="">{{giv.title}}</a></div>
     
     <a href="/adminpartner/{{giv.shortname}}" ><div class="editEdit">Edit</div></a>
     <a ng-click="removeGive(giv._id)" ><div class="editDelete"> Remove</div></a>
      </div>

</div>
</div><!--ServiceForm(Left Col)-->
</div>

<h2>&nbsp;</h2>

  <div class="editable" ng-repeat="giv in give | filter:json">
  <div class="editingTitle"> <a href="#" editable-text="giv.title" ng-model="giv.title"><h4>{{ giv.title || 'empty' }}</h4></a></div>
  

  <div class="editingText" text-angular ng-model="giv.contents"></div>
  <div><input type="hidden" ng-model="giv.shortname"></div>
  <div><input ng-model="giv.image"></div>
  <div><input type="hidden" ng-model="giv.category"></div>  
  <div class="editApply">
  <div class="clickApply"><a ng-click="editGive(giv._id, giv.title, giv.contents, giv.shortname, giv.image, giv.category)" >Apply Revisions</a></div>
  </div>
</div><!--Editable-->
</div>
</div><!--ServiceData-->