<div ng-include src="'templates/adminnav.html'"></div>

<div class="layout">
<div id="serviceData" ng-init="tab=1">

<!--
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a>New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a href="/adminoverviews/select">Edit</a></div></li>  
</ul>
-->

<div class="serviceForm">
 <div ng-show="tab == 1">

<form name="calForm" ng-submit="createOverview()">
  <select ng-model="overPage" required>
    <option>About</option>
    <option>Services</option>
    <option>Events</option>
    <option>Volunteer</option>
    <option>Give</option>
    <option>Contact</option>
  </select>
  <input type="hidden" placeholder="Page" ng-model="overPage" required>
  <textarea type="text" placeholder="Summary" ng-model="overContents" required></textarea>
  <br>
  <button class="addAdmin" type="submit">Add</button>
</form>
</div>

<div ng-show="tab == 2">
<div class="serviceList">
 <select id="mydropdownlist" ng-model="query" required>
   
    <option>About</option>
    <option>Services</option>
    <option>Events</option>
    <option>Volunteer</option>
    <option>Give</option>
    <option>Contact</option>
  </select>

<div ng-repeat="over in overview | filter: {page:query}">

    <div class="calendar">
   <ul class="admin-list">
     <li>{{over.page}}</li>
     <li> <a class="edit" href="/adminoverviews/{{over.page}}" ng-click="editItem(over._id)" >Edit</a></li>
   </ul>
    

</div><!-- calendar -->

</div><!-- ng-repeat cal -->

  </div>
</div>
</div><!--ServiceForm(Left Col)-->
</div>

</div><!--ServiceData-->
</div><!--Layout-->