<div ng-include src="'templates/adminnav.html'"></div>

<div id="adminCont">
  <div ng-init="tab=2">

<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a href="/adminblog">New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a>Edit</a></div></li>  
</ul>
</div>

<div id="adminCMS" class="serviceCMSDetail">
 <div ng-show="tab == 1">




</div>

<div ng-show="tab == 2">
<div class="editList">
    <div class="editWrapper" ng-repeat="blo in blog">
     <div class="editTitle"><a href="">{{blo.title}}</a></div>
     
     <a href="/adminblog/{{blo.shortname}}" ><div class="editEdit">Edit</div></a>
     <a ng-click="removeBlog(blo._id)" ><div class="editDelete"> Remove</div></a>
      </div>

</div>
</div><!--ServiceForm(Left Col)-->

</div>



  <div class="editable" ng-repeat="blo in blog | filter:json">
  <div class="editingTitle"> <a href="#" editable-text="blo.author" ng-model="blo.author"><h4>{{ blo.author || 'empty' }}</h4></a></div>
  <div class="editingTitle"> <a href="#" editable-text="blo.date" ng-model="blo.date"><h4>{{ blo.date || 'empty' }}</h4></a></div>
  <div class="editingTitle"> <a href="#" editable-text="blo.title" ng-model="blo.title"><h4>{{ blo.title || 'empty' }}</h4></a></div>
  
<div><input type="hidden" ng-model="blo.shortname"></div>
  <div class="editingText" text-angular ng-model="blo.contents"></div>
  
  <div class="editingTitle"> <a href="#" editable-text="blo.image" ng-model="blo.image"><h4>{{ blo.image || 'no image' }}</h4></a></div>
  <div class="editingTitle"> <a href="#" editable-text="blo.category" ng-model="blo.category"><h4>{{ blo.category || 'no category' }}</h4></a></div>
  
  <div class="editApply">
  <div class="clickApply"><a ng-click="editBlog(blo._id, blo.author, blo.date, blo.title, blo.contents, blo.shortname, blo.category, blo.image)" >Apply Revisions</a></div>
  </div>
</div><!--Editable-->

</div><!--ServiceData-->



<!--
<a class="edit" ng-click="editItem(service._id)" >Edit</a>
<a class="delete" ng-click="removeItem(service._id)" >Remove</a>-->
