<div class="adminNav">
     
     <div class="adminNavHead">
       <h1>Healing Center Admin Page</h1>
       </div>
     
      <div class="adminNavCont">
      
        <ul class="navlinks">
          <li><a href="/admin">Services</a></li>
          <li><a href="/adminabout">About</a></li>
<!--          <li><a href="/admincal">Events</a></li>-->
          <li><a href="/adminoverviews/select">Overviews</a></li>
          <li><a href="/adminvolunteer">Volunteer</a></li>
          <li><a href="/admingive">Give</a></li>
          <li><a href="/adminpartner">Partner</a></li>
          <li><a href="/admincontact">Contact</a></li>
          <li><a href="/adminblog">Blog</a></li>
          <li><a href='' ng-click="signout()">Logout</a></li>
        </ul>
        </div>
        
        
    </div><!--navigation-->