<div ng-include src="'templates/adminnav.html'"></div>


<div id="adminCont">
  <div ng-init="tab=2">
 
<div class="adminControl">
<ul class="tabsAdmin">
  <li><div class="cb" ng-click="tab = 1"><a href="/admin">New</a></div></li>
  <li><div class="cb" ng-click="tab = 2"><a>Edit</a></div></li>  
</ul>
</div> 
 

<div id="adminCMS" class="serviceCMSDetail">
<div ng-show="tab == 1">
<form name="adminForm" ng-submit="adminForm.$valid && createService()" novalidate>
  <input type="text" placeholder="Service title" ng-model="serviceTitle" required>
  <input type="text" placeholder="Service /url" ng-model="serviceShortname" required>
  <input type="text" placeholder="Service summary" ng-model="serviceSummary" required>


  
  <div class="wysiwg" text-angular ng-model="serviceDescription" required></div>
  
  <button type="submit">Add</button>
</form>
</div>



<div class="editList">
    <div class="editWrapper" ng-repeat="service in services">
     <div class="editTitle"><a href="">{{service.title}}</a></div>
     
     <a href="/admin/{{service.shortname}}" ><div class="editEdit">Edit</div></a>
     <a ng-click="removeItem(service._id)" ><div class="editDelete"> Remove</div></a>
      </div>

</div>

</div><!--ServiceForm(Left Col)-->
</div>

<h2>&nbsp;</h2>
<!--
  <div class="editable" ng-repeat="service in services | filter:json">
  <div> <a href="#" editable-text="service.title" ng-model="service.title"><h4>{{ service.title || 'empty' }}</h4></a></div>
  <div> <a href="#" editable-textarea="service.summary" ng-model="service.summary"><p>{{ service.summary || 'empty' }}</p></a></div>
  
  
  <div > <a href="#" editable-textarea="service.description" ng-model="service.descrip"><p>{{ service.description || 'empty' }}</p></a></div>
  <li><a class="edit" ng-click="editService(service._id, service.title, service.shortname, service.summary, service.description)" >Edit</a></li>
</div>--><!--Editable-->




<div class="editable" ng-repeat="service in services | filter:json">
  <div class="editingTitle"> <a href="#" editable-text="service.title" ng-model="service.title"><h4>{{ service.title || 'empty' }}</h4></a></div>
  <div><input type="hidden" ng-model="service.shortname"></div>
<div><input type="hidden" ng-model="service.summary"></div>
  <div class="editingText" text-angular ng-model="service.description"></div>
  <div class="editApply">
  <select ng-model="service.category" required>
    <option>Transportation</option>
    <option>Growth</option>
    <option>Spiritual</option>
    <option>Financial</option>
    <option>Job</option>
    <option>Education</option>
    <option>Kids</option>
    <option>Food</option>
    <option>Clothing </option>
    <option>Health</option>
  </select>
  
  <div class="clickApply"><a ng-click="editService(service._id, service.title, service.shortname, service.summary, service.description, service.category)" >Apply Revisions</a></div>
  </div>
</div><!--Editable-->


</div><!--ServiceData-->

