 <header>
   
    <div id="hero" class="aboutHero">
    <h1>Blog</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="aboutPage">
 
  <ul>
      <a href="/blog/"><h5>Recent Posts</h5></a>
      <li ng-repeat="blo in blog | orderBy: '_id' | limitTo: 2"><a href="/blog/{{blo.shortname}}">{{blo.title}}</li></a>
  </ul>
  <ul>
      <a href="/blog/"><h5>Categories</h5></a>
      <li ng-repeat="blo in blog"><a href="/blog/{{blo.shortname}}">{{blo.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="blog">
 <article class="cmsContent">
 
<div class="blogBlock" ng-repeat="blo in blog">
<div class="blogHead">
 
 
 
  <div ng-if="blo.image" class="blogImage"><a href="/blog/{{blo.shortname}}"><img src="{{blo.image}}"></a></div>
  
  
  
   <div class="blogInfo">
    <h2><a class="blogHeadline" href="/blog/{{blo.shortname}}">{{blo.title}}</a></h2>
    <p class="blogPosted"> Posted {{blo.date}} by <span>{{blo.author}}</span></p> 
    </div>
    
    
    
    

 <div class="blogCont" ng-bind-html="blo.contents | strip | to_trusted | truncate:265 "></div>
 </div><!--blogHead-->
<!--<a href="/blog/{{blo.shortname}}">Read more&nbsp;<i class="fa fa-chevron-right"></i></a>-->
 </div>
 
<div></div><div></div>
</article>
  

  
</div>






</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





