<header>
   
    <div id="hero" class="aboutContact">
    <h1>Contact us</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="contactPage">
  <ul>
   <a href="/contact/"><h5>Contact Overview</h5></a>
      <li ng-repeat="cont in contact"><a href="/contact/{{cont.shortname}}">{{cont.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="contact">

 <article class="cmsContent">
   <a href="/contact"><i class="fa fa-chevron-left"></i>&nbsp;back</a>
    <div class="services" ng-repeat="cont in contact | filter:json">
        <article class="service group">
       <a href="/contact/{{cont.shortname }}"><h3><pre>{{cont.title }}</pre> </h3></a> 
       <div ng-bind-html="'{{cont.contents}}' | to_trusted"></div>
       </article>
       
    </div>
</article>
  

  
</div>
</section>

 <% include partials/template/footer.ejs %>
</div><!--Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="vol in volunteer">
    <% appdata.services.forEach(function(item) { %>
      <a href="/contact/{{cont.shortname}}"><li>{{cont.shortname}}</li></a>
  </ul>





