<header>
   
    <div id="hero" class="aboutCalendar">
    <h1>Calendar</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="calendarPage">
<!--
  <ul>
   <a href="/events"><h5>Events Overview</h5></a>

    <li><a href="/events/January">January</a></li>
      <li><a href="/events/February">February</a></li>
      <li><a href="/events/March">March</a></li>
      <li><a href="/events/April">April</a></li>
      <li><a href="/events/May">May</a></li>
      <li><a href="/events/January">June</a></li>
      <li><a href="/events/July">July</a></li>
      <li><a href="/events/August">August</a></li>
      <li><a href="/events/September">September</a></li>
      <li><a href="/events/October">October</a></li>
      <li><a href="/events/November">November</a></li>
      <li><a href="/events/December">December</a></li> 

  </ul>
-->
<form id="#calendar_list">
<h5>Show events for:</h5>
<div>
<input class="checkbox0" type="checkbox" checked>
<label>Event Group 1</label>
</div>
<div>
<input class="checkbox1" type="checkbox" checked>
  <label>Event Group 2</label>
 </div>
 <div>
<input class="checkbox2" type="checkbox" checked>
   <label>Event Group 3</label>
</div>
</form>

</div>

<div id="contentRight" class="calendar">  
  <article class="cmsContent">
<!--
<div ng-repeat="over in overview | filter: {page:'events'} ">
 <div ng-bind-html="over.contents | strip | to_trusted"></div>
 </div>
-->
 

 <div id="calendar"></div>

 

 
 

</article>

</div>
</section>



<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>
</div>





