<header>
   
    <div id="hero" class="aboutGive">
    <h1>Give</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="givePage">
  <ul>
   <a href="/give/"><h5>Give Overview</h5></a>
      <li ng-repeat="giv in give | filter:{category: '!Partner'}"><a href="/give/{{giv.shortname}}">{{giv.title}}</li></a>
      <h5>Our Partners</h5>
      <li ng-repeat="giv in give | filter:{category: 'Partner'} "><a href="/give/{{giv.shortname}}">{{giv.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="give">
 <article class="cmsContent">
 
 <div ng-repeat="over in overview | filter: {page:'give'}">
 <div ng-bind-html="over.contents | strip | to_trusted "></div>
 </div>
 

</article>
  

  
</div>



    



</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





