<header>
   
    <div id="hero" class="aboutGive">
    <h1>Give</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="givePage">
  <ul>
   <a href="/give/"><h5>Give Overview</h5></a>
      <li ng-repeat="giv in give"><a href="/give/{{giv.shortname}}">{{giv.title}}</li></a>
      <h5>Our Partners</h5>
      <li ng-repeat="giv in give | filter:{category: 'Partner'} "><a href="/give/{{giv.shortname}}">{{giv.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="give">
 <article class="cmsContent">

   <a href="/give"><i class="fa fa-chevron-left"></i>&nbsp;back</a>
    <div class="services" ng-repeat="giv in give | filter:json">
        <article class="service group">
        <div ng-if="giv.image" class="givImage">
    
    <img src="{{giv.image}}">
    
    </div>
       <h2><pre>{{giv.title }}</pre> </h2>
       
       
       
      
       <div ng-bind-html="giv.contents | strip | to_trusted"></div>
       </article>
       
    </div>
</article>
  

  
</div>
</section>

</div><!--Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="giv in give">
    
      <a href="/give/{{giv.shortname}}"><li>{{giv.shortname}}</li></a>
  </ul>





