<header>
   
    <div id="hero" class="aboutGive">
    <h1>Give</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="givePage">
  <ul>
   <a href="/give/"><h5>Give Overview</h5></a>
      <li ng-repeat="giv in give"><a href="/give/{{giv.shortname}}">{{giv.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="give">
 <article class="cmsContent">
 
 <div ng-repeat="over in overview | filter: {page:'give'}">
 <div ng-bind-html="over.contents | strip | to_trusted "></div>
 </div>
 
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'healingcenter'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
  

  
</div>



    



</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





