<header id="intro">
 <article class="fullheight">
 
<div class="hgroup">
        <h3><span>Providing help</span><br> to residents of Greater<br> Cincinnati when challenges<br> invade their lives.</h3>
       </div>
      
      <section>
        <a href="/services"><div class="serviceBox">
        <p>Services</p>
<!--         <div class="bottom"></div>-->
        </div></a>
        <a href="/volunteer"><div class="volunteerBox">
         <p>Volunteer</p>
<!--          <div class="bottom"></div>-->
        </div></a>
        <a href="/give"><div class="partnerBox">
         <p>Give</p>
<!--          <div class="bottom"></div>-->
        </div></a>  
<!--
        <a><div class="eventBox">
         <p>Hunger Walk</p>
          <div class="bottom"></div>
        </div></a>      
-->
      </section> 
     
           
                     
    </article> 
     
  </header> 

 
 <div id="homeInfo">
  
  <article class="visitUs">
    <h1>Come Visit Us</h1>
      <div class="underline"></div>
     
        <div class="office">
       
        <h4>Office Hours</h4>
        <p>Tuesday - Friday, 8:30am - 5:00pm</p>
        <br>
        <h4>Service Hours</h4>
        <p>Wednesday - Sat 9:00am - 12noon<br>
        Thursday evenings, 6:30-9pm</p>
        <br>
        <h4>Location</h4>
        <p>
        11345 Century Circle W.<br>
        Springdale, OH 45246<br>
        </p>
        </div>
        
        
      <div class="service">  
        
        
        </div>
       
       
<!--
       <div class="ourLocation">
        
    
    
  </div>
-->
   
    
  </article>
  
 <article class="happening">
    <h1>What's Happening</h1>
    <div class="happeningWrapper">
     <div class="underline"></div>
     <div class="happeningImage">
       
     </div>
     
     <div class="happeningInfo">
       <h2>Hunger Walk</h2>
       <h4>March 2nd / 9:00</h4>
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
       <div class="findOutMore">
       <a>More Info</a>
       </div>
     </div>
     
     </div>
     
     
     
</article>
  
      

<article class="partners">
    <h1>Our Partners</h1>
     <div class="underline"></div>
     <div class="gallery">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
     </div>
     
     
     
     
     
</article>
 
 

  
  
</div>









