<header id="intro">
 <article class="fullheight">
 
<div class="hgroup">
        <h3><span>Providing&nbsp;help</span><br> to residents of Greater Cincinnati when challenges invade their lives.</h3>
       </div>
      
      <section>
        <a><div class="serviceBox">
         <div class="bottom"><p>Services</p></div>
        </div></a>
        <a><div class="volunteerBox">
          <div class="bottom"><p>Volunteer</p></div>
        </div></a>
        <a><div class="partnerBox">
          <div class="bottom"><p>Give</p></div>
        </div></a>  
        <a><div class="eventBox">
          <div class="bottom"><p>Hunger Walk</p></div>
        </div></a>      
      </section> 
     
           
                     
    </article> 
     
  </header> 

 
 <div id="homeInfo">
  
  <article class="visitUs">
    <h1>Come Visit Us</h1>
      <div class="underline"></div>
     
        <div class="office">
       
        <h4>Office Hours</h4>
        <p>Tuesday - Friday, 8:30am - 5:00pm</p>
        </div>
        
      <div class="service">  
        <h4>Service Hours</h4>
        <p>Wednesday - Sat 9:00am - 12noon<br>
        Thursday evenings, 6:30-9pm</p>
        
        </div>
       
       
       <div class="ourLocation">
        <h4>Location</h4>
        <p>
        11345 Century Circle W.<br>
        Springdale, OH 45246<br>
        (513)346-4080</p>
    
    
  </div>
   
    
  </article>
  
  

<article class="partners">
    <h1>Our Partners</h1>
     <div class="underline"></div>
     <div class="gallery">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
       <img src="../builds/development/images/partner/partner_Big_Lots.svg">
       <img src="../builds/development/images/partner/partner_foodbank.svg">
     </div>
     
     
     
     
     
</article>
  
  
</div>









