<header>
   
    <div id="hero" class="aboutServices">
    <h1>Our Services</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="servicesPage">
 <a href="/services/"><h5 class="serviceHead">Service Overview</h5></a>
  <ul>
     <h5>Transportation Services</h5>
      <li ng-repeat="service in services | filter:{category: 'Transportation'} "><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Growth & Healing</h5>
      <li ng-repeat="service in services | filter:{category: 'Growth'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Spiritual Care</h5>
      <li ng-repeat="service in services | filter:{category: 'Spiritual'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Financial Programs</h5>
      <li ng-repeat="service in services | filter:{category: 'Financial'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Job Coaching</h5>
      <li ng-repeat="service in services | filter:{category: 'Job'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Education Programs</h5>
      <li ng-repeat="service in services | filter:{category: 'Education'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Kids Clubhouse</h5>
      <li ng-repeat="service in services | filter:{category: 'Kids'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Food Pantry - the Market Place</h5>
      <li ng-repeat="service in services | filter:{category: 'Food'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Clothing Store - the Wear House</h5>
      <li ng-repeat="service in services | filter:{category: 'Clothing'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
      <h5>Health Care</h5>
      <li ng-repeat="service in services | filter:{category: 'Health'}"><a href="/services/{{service.shortname}}">{{service.title}}</li></a> 
  </ul>
</div>


<div id="contentRight" class="services">
 <article class="cmsContent">
 
 <div ng-repeat="over in overview | filter: {page:'services'}">
 <div ng-bind-html="over.contents | strip | to_trusted"></div>
 </div>
 

</article>
  

  
</div>
</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





