<header>
   
    <div id="hero" class="aboutServices">
    <h1>Our Services</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="servicesPage">
  <ul>
   <a href="/services/"><li>Service Overview</li></a>
      <li ng-repeat="service in services"><a href="/services/{{service.shortname}}">{{service.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="services">
 <article class="cmsContent">
 
 <div ng-repeat="over in overview | filter: {page:'services'}">
 <div ng-bind-html="'{{over.contents}}' | to_trusted "></div>
 </div>
 

</article>
  

  
</div>
</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





