 <header>
   
    <div class="heroservices">
    </div><!-- hero -->
   </header>

<section class="content">
<div class="index">
  <ul>
   <a href="/services/"><li>Service Overview</li></a>
      <li ng-repeat="service in services"><a href="/services/{{service.shortname}}">{{service.title}}</li></a>
  </ul>
</div>


<div class="offerings">

<!--  <h3>What we offer</h3>-->
 <article class="serviceslist">
   <a href="/services"><i class="fa fa-chevron-left"></i>&nbsp;back</a>
    <div class="services" ng-repeat="service in services | filter:json">
        <article class="service group">
       <a href="/services/{{service.name }}"><h3><pre>{{service.title }}</pre> </h3></a> 
       <div ng-bind-html="'{{service.description}}' | to_trusted"></div>
       </article>
       
    </div>
</article>
  

  
</div>
</section>

 <% include partials/template/footer.ejs %>
</div><!--Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
    <% appdata.services.forEach(function(item) { %>
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





