<header>
   
    <div id="hero" class="aboutVolunteer">
    <h1>Volunteer with us</h1>
    </div><!-- hero -->
</header>

<section id="content">
<div id="indexLeft" class="volunteerPage">
  <ul>
   <a href="/volunteer/"><h5>Volunteer Overview</h5></a>
      <li ng-repeat="vol in volunteer"><a href="/volunteer/{{vol.shortname}}">{{vol.title}}</li></a>
  </ul>
</div>


<div id="contentRight" class="volunteer">
 <article class="cmsContent">
 
 <div ng-repeat="over in overview | filter: {page:'volunteer'}">
 <div ng-bind-html="'{{over.contents}}' | to_trusted "></div>
 </div>
 

</article>
  

  
</div>






</section>


<!--</div>Body container for slider logic-->

<div class="sb-slidebar sb-left">
    <ul ng-repeat="service in services">
      <a href="/services/{{service.name}}"><li>{{service.name}}</li></a>
  </ul>





